h2 {
    color: #003580;;
}
#p1 {
    font-size: 14px;
    color: #000033;
}
.class1 {
    color: #F00;
}
.class2 {
    color: #1f87cc;
}
.class3 {
    color: #faa53b;
}
.class4 {
    color: #0d7114;
}
.img1 {
    width: 100px;
    height: 160px;
}
.img2 {
    width: 200px;
    height: 130px;
}